Dear Professor {{ name }},

I hope this message finds you well. My name is Kevin Peng, a first-year Engineering Science student at the University of Toronto. I am deeply interested in <Insert their research interests> I believe efforts like these are the epitome of "engineering".

I read your paper on "{{ paper_title }}". I found it intriguing and relevant to my interests. 

In my studies, I have engaged with a variety of topics, including <Insert relevant courses>. I have also had the opportunity to work on projects such as <Insert relevant projects>. I am particularly interested in <Insert your research interests>. I am eager to learn more about this field and contribute to the advancement of knowledge.

Attached are my resume and unofficial transcript for your consideration. I would be grateful for the opportunity to discuss how I might contribute to your research.

Thank you for considering my request. I look forward to the possibility of working with and learning from your lab.

Warm regards,
Kevin Peng